/*!
 * Form: Checkbox
 */

input[type="checkbox"] {
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem 0 0.0875rem;
}

input[type="checkbox"] ~ span {
  font-size: 1rem;
  color: var(--color-gray-2);
}

input[type="checkbox"] ~ span:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: var(--roundness-2);
  border: 0.063rem solid var(--color-border);
  background: var(--color-gray-8);
  transition: border-color var(--transition-speed) ease,
    background-color var(--transition-speed) ease;
}

[dir="rtl"] input[type="checkbox"] ~ span:before {
  right: 0;
}

input[type="checkbox"] ~ span:after {
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 0.063rem;
  left: 0.2155rem;
  content: "\2713";
  font-size: 0.75rem;
  color: white;
}

[dir="rtl"] input[type="checkbox"] ~ span:after {
  left: initial;
  right: 0.2155rem;
}

input[type="checkbox"]:focus ~ span:before {
  border-color: var(--color-primary);
}

input[type="checkbox"]:checked ~ span:before {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

input[type="checkbox"]:focus:checked ~ span:before {
  background: var(--color-primary-focus);
  border-color: var(--color-primary-focus);
}

input[type="checkbox"]:checked ~ span:after {
  opacity: 1;
}
