/*!
 * Form: Select
 */

.select {
  display: inline-block;
  position: relative;
}

.select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem 0.375rem 0 0.375rem;
  border-color: var(--color-border) transparent transparent transparent;
}

[dir="rtl"] .select:after {
  right: initial;
  left: 0;
  transform: translate(100%, -50%);
}

select {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  display: block;
  box-shadow: none;
  border: 0.063rem solid var(--color-border);
  padding: 0.5rem 1.75rem 0.5rem 0.75rem;
  border-radius: var(--roundness-1);
  background-color: var(--color-gray-8);
  font-size: 1rem;
  color: var(--color-gray-2);
  transition: border-color var(--color-primary) ease;
}

[dir="rtl"] select {
  padding: 0.5rem 0.75rem 0.5rem 1.75rem;
}

select:focus,
select:active {
  border-color: var(--color-primary);
}
