/*!
 * Block Quote
 */

blockquote {
  margin: 1rem 0;
  padding: 0.75rem 0 0.75rem 1rem;
  border-left: 0.25rem solid var(--color-primary);
  font-size: 1.313rem; /* 21px */
  color: var(--color-gray-2);
}

[dir="rtl"] blockquote {
  border-left: 0;
  padding: 0.75rem 1rem 0.75rem 0;
  border-right: 0.25rem solid var(--color-primary);
}
