*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--feather-font-family);
  color: var(--feather-color-gray-1);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--feather-color-link);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--feather-color-link-focus);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

::selection {
  background: var(--feather-color-primary);
  color: white;
}
