*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--feather-font-family);
  color: var(--feather-color-gray-1);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: var(--feather-color-link);
}
