ul {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  list-style: disc;
}

[dir=rtl] ul {
  padding: 0 2rem 0 0;
}

li {
  margin: 0;
  padding: 0;
  line-height: var(--feather-base-line-height);
  font-size: var(--feather-base-font-size);
  color: var(--feather-color-gray-1);
}


/* Ordered List */

ol {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  list-style: numeric;
}


[dir=rtl] ol {
  padding: 0 2rem 0 0;
}


li {
  margin: 0;
  padding: 0;
  line-height: var(--feather-base-line-height);
  font-size: var(--feather-base-font-size);
  color: var(--feather-color-gray-1);
}


/* Description List */

dl {
  margin: 1rem 0;
  padding: 0;
  list-style: numeric;
}

dl:after {
  content:"";
  display:table;
  clear:both;
}


dt {
  clear: left;
  float: left;
  width: 25%;
  margin: 0 0 0.25rem;
  padding: 0;
  line-height: var(--feather-base-line-height);
  font-size: var(--feather-base-font-size);
  color: var(--feather-color-gray-1);
}

[dir=rtl] .dt {
  clear: right;
  float: right;
}

dd {
  margin: 0 0 0.25rem;
  padding: 0;
  line-height: var(--feather-base-line-height);
  font-size: var(--feather-base-font-size);
  font-weight: 700;
  color: var(--feather-color-gray-1);
}
