/*!
 * Unordered List
 */

ul {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  list-style: disc;
}

[dir="rtl"] ul {
  padding: 0 2rem 0 0;
}

ul.reset {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.reset li {
  display: inline-block;
}

/*!
 * Ordered List
 */

ol {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  list-style: numeric;
}

[dir="rtl"] ol {
  padding: 0 2rem 0 0;
}

ul.reset {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.reset li {
  display: inline-block;
}

/*!
 * List Item
 */

li {
  margin: 0;
  padding: 0;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  color: var(--color-gray-1);
}

/*!
 * Description List
 */

dl {
  margin: 1rem 0;
  padding: 0;
  list-style: numeric;
}

dl:after {
  content: "";
  display: table;
  clear: both;
}

dt {
  padding: 0 1rem 0 0;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  color: var(--color-gray-1);
}

[dir="rtl"] dt {
  padding: 0 0 0 1rem;
}

@media (min-width: 24rem) {
  dt {
    margin: 0 0 0.25rem;
    clear: left;
    float: left;
    width: 25%;
  }

  [dir="rtl"] dt {
    clear: right;
    float: right;
  }
}

dd {
  margin: 0 0 0.5rem;
  padding: 0;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  font-weight: 600;
  color: var(--color-gray-1);
}

@media (min-width: 24em) {
  dd {
    margin: 0 0 0.25rem;
    float: left;
  }

  [dir="rtl"] dd {
    float: right;
  }
}
