table {
  width: 100%;
  border-collapse: collapse;
  color: var(--feather-color-gray-1);
}

th {
  padding: 0.5rem;
  text-align: start;
}

th:first-of-type {
  padding: 1rem 1rem 1rem 0;
}

th:last-of-type {
  padding: 1rem 0 1rem 1rem;
}

tr {
  border-bottom: 0.063rem solid var(--feather-color-border);
}

td {
  padding: 1rem;
}


td:last-of-type {
  padding: 1rem 0 1rem 1rem;
}


td:first-of-type {
  padding: 1rem 1rem 1rem 0;
}
