/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--feather-color-gray-1);
}

th {
  padding: 0.5rem;
  text-align: start;
  font-size: var(--feather-base-font-size);
  line-height: var(--feather-base-line-height);
  font-weight: bold;
}

th:first-of-type {
  padding: 1rem 1rem 1rem 0;
}

th:last-of-type {
  padding: 1rem 0 1rem 1rem;
}

tr {
  border-bottom: 0.063rem solid var(--feather-color-border);
}

td {
  padding: 1rem;
  font-size: var(--feather-base-font-size);
  line-height: var(--feather-base-line-height);
}

td:last-of-type {
  padding: 1rem 0 1rem 1rem;
}

td:first-of-type {
  padding: 1rem 1rem 1rem 0;
}
