.form {
  font-family: var(--feather-font-family);
  display: grid;
  justify-content: start;
  grid-gap: var(--feather-form-gap);
}

/* Common */

.label {
  position: relative;
  display: block;
  margin: 0 0 0.5rem;
}

.label-text {
  display: block;
  margin: var(--feather-label-text-margin);
  font-family: var(--feather-font-family);
  font-size: var(--feather-label-text-font-size);
  color: var(--feather-label-text-color);
}


.form-error-message {
  display: block;
  margin: var(--feather-hint-text-margin);
  font-family: var(--feather-font-family);
  font-size: var(--feather-hint-text-font-size);
  color: var(--feather-color-error);
}

.fieldset {
  border: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.legend {
  margin: var(--feather-label-text-margin);
  padding: 0;
  font-family: var(--feather-font-family);
  font-size: var(--feather-hint-text-font-size);
  color: var(--feather-label-text-color);
}


/* Text Input */

.text-input {
  outline: none;
  display: block;
  box-shadow: none;
  padding: var(--feather-form-element-padding);
  border-radius: var(--feather-form-element-roundness);
  background: var(--feather-color-gray-8);
  border: var(--feather-form-border);
  font-family: var(--feather-font-family);
  font-size: var(--feather-form-element-font-size);
  color: var(--feather-form-element-text-color);
  transition: border-color var(--feather-color-primary) ease;
}

.text-input:focus, .text-input:active {
  border-color: var(--feather-color-primary);
}

.form-success-message {
  display: block;
  margin: var(--feather-hint-text-margin);
  font-family: var(--feather-font-family);
  font-size: var(--feather-hint-text-font-size);
  color: var(--feather-color-success);
}

/* Select */

.select {
  display: block;
  position: relative;
}

.select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem 0.375rem 0 0.375rem;
  border-color: var(--feather-color-border) transparent transparent transparent;
}

[dir=rtl] .select:after {
  right: initial;
  left: 0;
  transform: translate(100%, -50%);
}

.select-input {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  display: block;
  box-shadow: none;
  border: var(--feather-form-border);
  padding: var(--feather-select-input-padding);
  border-radius: var(--feather-form-element-roundness);
  background-color: var(--feather-color-gray-8);
  font-family: var(--feather-font-family);
  font-size: var(--feather-form-element-font-size);
  color: var(--feather-form-element-text-color);
  transition: border-color var(--feather-color-primary) ease;
}

[dir=rtl] .select-input {
  padding: var(--feather-select-input-padding-rtl);
}

.select-input:focus, .select-input:active {
  border-color: var(--feather-color-primary);
}

/* Checkbox */
.checkbox-input {
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem 0 0.0875rem;
}

.checkbox-label {
  font-family: var(--feather-font-family);
  font-size: var(--feather-form-element-font-size);
  color: var(--feather-form-element-text-color);
}

.checkbox-label:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: var(--feather-roundness-2);
  border: var(--feather-form-border);
  background: var(--feather-color-gray-8);
  transition: border-color var(--feather-transition-speed) ease, background-color var(--feather-transition-speed) ease;
}

[dir=rtl] .checkbox-label:before {
  right: 0;
}

.checkbox-label:after {
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 0.063rem;
  left: 0.2155rem;
  content: "\2713";
  font-size: 0.75rem;
  color: white;
}

[dir=rtl] .checkbox-label:after {
  left: initial;
  right: 0.2155rem;
}

.checkbox-input:focus~.checkbox-label:before {
  border-color: var(--feather-checkbox-checked-color);
}

.checkbox-input:checked~.checkbox-label:before {
  border-color: var(--feather-checkbox-checked-color);
  background: var(--feather-checkbox-checked-color);
}

.checkbox-input:focus:checked~.checkbox-label:before {
  background: var(--feather-checkbox-focus-color);
  border-color: var(--feather-checkbox-focus-color);
}

.checkbox-input:checked~.checkbox-label:after {
  opacity: 1;
}

/* Radio */

.radio-input {
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem 0 0.0875rem;
}

.radio-label {
  font-family: var(--feather-font-family);
  font-size: var(--feather-form-element-font-size);
  color: var(--feather-form-element-text-color);
}

.radio-label:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: var(--feather-form-border);
  background: var(--feather-color-gray-8);
  transition: border-color var(--feather-transition-speed) ease, background-color var(--feather-transition-speed) ease;
}

[dir=rtl] .radio-label:before {
  right: 0;
}

.radio-label:after {
  content: "";
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: white;
}

[dir=rtl] .radio-label:after {
  left: initial;
  right: 0.375rem;
}

.radio-input:focus~.radio-label:before {
  border-color: var(--feather-radio-checked-color);
}

.radio-input:checked~.radio-label:before {
  border-color: var(--feather-radio-checked-color);
  background: var(--feather-radio-checked-color);
}

.radio-input:focus:checked~.radio-label:before {
  background: var(--feather-radio-focus-color);
  border-color: var(--feather-radio-focus-color);
}

.radio-input:checked~.radio-label:after {
  opacity: 1;
}

/* Textarea */
.textarea {
  outline: none;
  display: block;
  box-shadow: none;
  padding: var(--feather-form-element-padding);
  border-radius: var(--feather-form-element-roundness);
  background: var(--feather-color-gray-8);
  border: var(--feather-form-border);
  font-family: var(--feather-font-family);
  font-size: var(--feather-form-element-font-size);
  color: var(--feather-form-element-text-color);
  transition: border-color var(--feather-color-primary) ease;
}

.textarea:focus, .textarea:active {
  border-color: var(--feather-color-primary);
}
